<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@next"></script>
  <title>Document</title>
</head>

<body>

  <div id="memo">
    <input type="text" v-model="text">
    <button v-on:click="addMemo">追加</button>
    <ul>
      <li v-for="memo in list">
        <div>
          {{memo.index}}.{{memo.text}}
          <button v-on:click="updateMemo(memo.index)">修正</button>
          <button v-on:click="removeMemo(memo.index)">削除</button>
        </div>
      </li>
    </ul>
  </div>
  <script>

    const Counter = {
      data() {
        return {
          list: [
              {index: 1,text: "alice"},
              {index: 2,text: "bob"}
            ],
          text: ""
        }
      },
      methods: {
        addMemo() {
          const text = this.text
          let index = 1
          if (this.list.length > 0) {
            const size = this.list.length - 1
            index = this.list[size].index + 1
          }
          this.list.push({ index: index, text: this.text })
          localStorage.setItem('memo', JSON.stringify(this.list))
        },
        updateMemo(index) {

        },
        readMemo() {
          return this.storage.getItem('memo')
        },
        removeMemo(index) {
          this.list.splice((index - 1),1)
          localStorage.setItem('memo', JSON.stringify(this.list))
        }
      }
    }

    Vue.createApp(Counter).mount('#memo')
  </script>
</body>

</html>